# compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*

# env
.env
.env.local
.env.*.local

# coverage
/coverage

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# db
*.sqlite

# scripts de scaffolding locales
apply-*.ps1
clean-*.ps1
debug-*.ps1

fix-*.ps1
